.container {
  display: flex;
  background-image: url(https://thumbs.dreamstime.com/z/voluminous-sparkling-painted-lips-lot-lip-gloss-brushes-voluminous-sparkling-painted-lips-lot-lip-gloss-brushes-104328018.jpg?w=768);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  flex-direction: column;
  max-width: 600px;
  min-height: 100vh;
}
